@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #111;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.black-bg-25 {
    background: rgba(0, 0, 0, 0.25);
}
